$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #BFBFBF;
$color-grey-light-2: #9B9B9B;
$color-grey-light-3: #787878;

$color-grey-dark-1:#222;
$color-grey-dark-2:#333;
$color-grey-dark-3: #797979;
