*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //Now by default 10px
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #797979;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: $color-black;
  scroll-behavior: smooth;
}

.line {
  border: none;
  display: block;
  margin: 2rem auto;
  width: 18%;
  border-bottom: 1px solid $color-grey-dark-3;
}
