.heading-primary {
  color: $color-white;
  &--main {
    display: block;
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: 4px;
  }
  &--sub {
    display: block;
    font-weight: 800;
    font-size: 7rem;
  }
}

.heading-secondary {
  color: $color-white;
  font-size: 3rem;

  &--main {
    font-weight: 300;
  }

  &--sub {
    font-weight: 900;
  }
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 300;
  color: $color-white;
  &--sub {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.heading-small {
  font-size: 1.6rem;
  font-weight: 300;
  color: darkcyan;
}
